@{
    ViewData["Title"] = "Inserimento amministratore";
    var ruolo = "Amministratore";
}
@if( ruolo == "Amministratore")
{
    <div class="row justify-content-md-center mx-3 text-center">
        <div class="col-8 card text-center border border-success p-2 mb-2 border-opacity-25 ">

            <div class="card-header bg-success p-2 text-dark bg-opacity-25 ">
                <h1>Iscrivi Amministratore o Bibliotecario</h1>
            </div>
            <form method="post">
                <div class="row mx-3">
                    <div class="mb-3 col-6">
                        <label for="Name" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="Name"  placeholder="Name">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="Surname" class="form-label">Surname:</label>
                        <input class="form-control" name="Surname" rows="3" />
                    </div>
                    <div class="mb-3 col-9">
                        <label for="Email" class="form-label">Email:</label>
                        <input class="form-control" type="email" name="Email" rows="3" />
                    </div>
                    <div class="mb-3 col-3">
                            <label for="Role" class="form-label">Ruolo:</label>
                            <select class="form-select" name="Role">
                        <option ></option>        
                        <option value="Admin">Admin</option>
                        <option value="Librarian">Bibliotecario</option>
                        </select>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="Password" class="form-label">Password:</label>
                        <input class="form-control" name="Password" type="password" rows="3" />
                    </div>
                    <div class="mb-3 col-6">
                        <label for="Password" class="form-label">Ripeti Password:</label>
                        <input class="form-control" name="Password" type="password1" rows="3" />
                    </div>
                    <div class="col-3 mx-auto">
                        <button class="btn btn-success" type="submit">Aggiungi operatore</button>
                    </div>
                </div>
        </form> 
        </div>
    </div>  
}