@{
    ViewData["Title"] = "Inserimento amministratore";
    var ruolo = "Amministratore";
}
@if(ruolo == "Bibliotecario" || ruolo == "Amministratore")
{
    <div class="text-center">
        <form method="post">
            <div class="row">

                <p>Email: <input type="email" name="Email" /></p>
                <p>Password: <input type="password" name="Password" /></p>
                
                <input type="submit" />
            </div>

        </form>
    </div>
}