@page
@model Test.Pages.InsertlibrarianModel
@{
    ViewData["Title"] = "Inserimento bibliotecario";
    var ruolo = "Amministratore";
}
@if(ruolo == "Bibliotecario" || ruolo == "Amministratore")
{
    <div class="text-center">
        <form method="post">
            <p>Nome: <input type="text" /></p>
            <p>Cognome: <input type="text" /></p>
            <p>Email: <input type="email" /></p>
            <p>Password: <input type="password"/></p>
            <input type="submit"/>
        </form>
    </div>
}