@{
    ViewData["Title"] = "Inserimento utente";
    var ruolo = "Amministratore";
}
@if(ruolo == "Bibliotecario" || ruolo == "Amministratore"){
    <div class="text-center">
        <form method="post">
            <div class="row">
                <div class="col-6">
                    <lable>Nome: 
                    <input type="text" name="Name"/>
                    </lable>
                </div>
                <div class="col-6">
                    <label>Cognome: 
                        <input type="text" name="Surname" />
                     </label>
                </div>
                <div class="col-4">
                    <p>Indirizzo di residenza: <input type="text" name="ResidentialAddress"/></p>

                </div>
                    <p>Codice fiscale: <input type="text" name="FiscalCode" /></p>
                    <p>Email: <input type="email" name="Email"/></p>
                    <p>Password: <input type="password" name="Password"/></p>
                    <p>Telefono: <input type="text" name="PhoneNumber"/></p>
            lab
            <p>Utente minorenne: <input type="checkbox" /></p>
            <p>
                Tipo Documento:
                <select id="doc" name="Type">
                    <option>--seleziona il tipo--</option>
                    <option value="Carta d'identità">Carta d'identità</option>
                    <option value="Passaporto">Passaporto</option>
                    <option value="Patente">Patente</option>
                </select>
            </p>
            <p>Emissario: <input type="text" name="Emissary"/></p>
            <p>Data scadenza: <input type="date" name="ExpirationDate"/></p>
            <input type="submit"/>
        </form>
        </div>
}