<!DOCTYPE html>
<html lang="en">
<head>
    <meta char../Image/"utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotecaProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibliotecaProject.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
</head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto text-center" asp-controller="Home" asp-action="Index">Biblioteca</a>
            </div>
            <div class="justify-content-end">
                <a class="btn btn-outline-success me-2" asp-area="" asp-controller="Home" asp-action="CatalogoLibri"> Catalogo Libri </a>
            </div>
        </nav>
    </header>

    <body>
    <main role="main">
            @RenderBody()
    </main>
    </body>

    <footer>
        <nav class="navbar bg-light">
            <div class="container-fluid justify-content-center">
                <a class="btn btn-outline-success me-2" asp-area="" asp-controller="Home" asp-action="Index"> Home Page </a>

                <a class="btn btn-outline-success me-2" asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy </a>

                <a class="btn btn-outline-success me-2" asp-area="" asp-controller="Home" asp-action="Biblio"> La nostra Biblioteca </a>

                <a class="btn btn-outline-success me-2" asp-area="" asp-controller="Home" asp-action="Noi"> Bibliotecari </a>

                 <a class="btn btn-outline-success me-2" asp-area="" asp-controller="User" asp-action="Contattaci"> Contattaci </a>
            </div>
            <p>&copy; 2022 - Biblioteca, Blazar_Project</p>
        </nav>
    </footer>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</html>
