@{

    ViewData["Title"] = "La nostra Biblioteca";

}
<div class="text-center mx-auto bg-success p-2 text-dark bg-opacity-50 " style="width: 50%; height: 50%; margin-top: 10%;">
    <div class="card text-center border border-success p-2 mb-2 border-opacity-25 ">
        <div class="card-header bg-success p-2 text-dark bg-opacity-25 "><h1>La nostra Biblioteca</h1></div>
        <p>
            Ecco a voi la nostra nuovissima Biblioteca-Online. Una pagina web nella quale poter rimere aggiornati sulle ultime uscite nel mondo letterario.
        </p>
    </div>
</div>
