<div>
    <h1>Il Nostro Catalogo</h1>
    <div class="row mb-3">
        <div class="col-2  mb-3">
            <label for="typeOfBooks">Type Of Books Filter</label>
            <select class="btn btn-primary" form="merg" name="typeOfBooks" id="typeOfBooks">
                    <option value="" selected hidden>Seleziona</option>
                    <option value=" giallo">Giallo</option>
                    <option value="narrativa">Narrativa</option>
                    <option value="horror">Horror</option>
                    <option value="rosa">Rosa</option>
                    <option value="avventura">Avventura</option>
                    
            </select>
        </div>
        <div class="col-2  mb-3">
                <label for="publishingHouse"> Publishing House </label>
                <select class="btn btn-primary" form="merg" name="publishingHouse">
                <option value="">Nessun Filtro</option>
                <option value="mondatori">Mondatori</option>
                <option value="Universal">Universal</option>
                
                </select>
        </div>
        <div class="col-4  mb-3"></div>
        <div class="col-4  mb-3">
            <input type="text"  class="form-control" name="search" id="search" placeholder="search..." aria-label="Search">
        </div>
        <div class="col-3  mb-1" id="Libro">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title" id="Titolo">Title : Divina Commedia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title" id="Titolo">Title : Divina Commedia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title" id="Titolo">Title : Asdrubale</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Title : Divina Commedia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Title : Divina Commedia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Title : Divina Commedia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1" >
            <div class="card">
                <div class="card-body ">
                    <p class="card-title">Title : Divina Commedia</p>
                    <h6 class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Genere : Avventura</h6>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</h6>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3  mb-1">
            <div class="card">
                <div class="card-body ">
                    <p class="card-title">Title : Oivina Commedia</p>
                    <p class="card-subtitle mb-2 text-muted">Autore : Dante Alighieri</p>
                    <p class="card-subtitle mb-2 text-muted">Genere : Avventura</p>
                    <p class="card-text">Descrizione: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-subtitle mb-2 text-muted">ISBN: 1234567891234</p>
                    <div class="mx-auto text-center">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="DetailBook">Prenota</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div> 

@section Scripts{

    <script>

       @* $(document).ready(function () {

            $("#search").keydown(function () {

                var searchValue = $(this).val();

                $("div").each(function (results) {

                    console.log(results);

                    if (results !== 0) {

                        var title = $(this).find("div:nth-child(1)").text();

                        if (title.indexOf(searchValue) !== 0 && title.toLowerCase().indexOf(searchValue.toLowerCase()) < 0) {

                            $("#Libro").hide();

                        } else {

                            $("#Libro").show();
                        }

                    }

                });

            });

        });


        $(document).ready(function () {

            $("#typeOfBooks").change(function () {

                var typeOfBooksValue = $(this).val();

                $("table tr").each(function (results) {

                    if (results !== 0) {

                        var typeOfBooks = $(this).find("th:nth-child(4)").text();

                        if (typeOfBooks.indexOf(typeOfBooksValue) !== 0 && typeOfBooks.toLowerCase().indexOf(typeOfBooksValue.toLowerCase()) < 0) {

                            $(this).hide();

                        } else {

                            $(this).show();
                        }

                    }

                });

            });
        }); *@


    </script>

}