@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http
@model IEnumerable<Book>

<div>
    
    @foreach(var item in Model){
    <div class="row">
    <div class="col-4 m-3">
            <img src=@item.ImageUrl class="img-fluid" />
     </div>
     <div class="col-7 m-3">
         <h1 class="mb-3">@item.Title</h1>
        <h3>Dati Libro</h3>
        <h6 class="mb-2 text-muted">Autore :@item.Author</h6><br>
        <h6 class="mb-2 text-muted">Genere :@item.TypeOfBooks</h6><br>
        <h6 class="card-subtitle mb-2 text-muted">Publishing House:@item.PublishingHouse</h6><br>
        <h6 class="card-subtitle mb-2 text-muted">ISBN:@item.ISBN</h6>
       
                <h2>Descrizione:</h2>
                <p>@item.Description</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Check" asp-route-id=@item.Id_book>Prenota</a>

     </div>
     </div>
     }
</div>