@{

    ViewData["Title"] = "Bibliotecari";

}
<div>
    <div class="mx-auto bg-success p-2 text-dark bg-opacity-50 " style="width: 50%; height: 50%; margin-top: 5%; margin-bottom: 5%;">
        <div class="text-center">
            <h1>Ecco a voi i nostri Bibliotecari!</h1>
            <h3>Una piccola presentazione dei nostri quattro bibliotecari che hanno lavorato sodo per la realizzazione di questa biblioteca-online. </h3>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://cdn.icon-icons.com/icons2/2121/PNG/512/avatar_people_man_boy_child_icon_131256.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Klei</h5>
                        <p class="card-text">Un timido pezzo forte dei database.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="https://cdn.icon-icons.com/icons2/2121/PNG/512/woman_female_people_person_avatar_icon_131278.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hamza</h5>
                        <p class="card-text">Il nostro Jack Sparrow brianzolo.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="https://cdn.icon-icons.com/icons2/2121/PNG/512/people_avatar_woman_girl_tail_icon_131283.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Claudia</h5>
                        <p class="card-text">Senza alcun dubbio la più simpatica.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="https://cdn.icon-icons.com/icons2/2121/PNG/512/boy_child_man_male_people_avatar_icon_131270.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Luca</h5>
                        <p class="card-text">Appassionato di stile e moda femminile.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
