@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center mx-auto bg-success p-2 text-dark bg-opacity-50 " style="width: 50%; height: 50%; margin-top: 10%;">
        <div class="card text-center border border-success p-2 mb-2 border-opacity-25 ">
            <div class="card-header bg-success p-2 text-dark bg-opacity-25 ">
                <h1>Recupera password</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" name="email" id="staticEmail" placeholder="email@example.com" required>
                        </div>
                    </div>
                    <div class="button">
                        <button type="submit" class="btn btn-outline-success">Invio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
