<div>
    <h1 class="text-center">Libri da Ordinare</h1>
    <div>
    <table class="table">
        <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Publishing House</th>
        <th>ISBN</th>
        <th>Utente Richiedente</th>
        </thead>
  

            <tr>
                <th scope="row">Divina Commedia</th>
                <th scope="row">Asdrubale</th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row">Andrea Arturi</th>
            </tr>
            <tr>
                <th scope="row">Alice nel paese delle meraviglie</th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row">1234556789123</th>
                <th scope="row">Michele Galimberti</th>

            </tr>
    </table>
    </div>

</div>