@{

    ViewData["Title"] = "Contattaci";

}
<div>
    <div class="mx-auto bg-success p-2 text-dark bg-opacity-50 " style="width: 50%; height: 50%; margin-top: 5%; margin-bottom: 5%;">

        <div class="text-center">
            <h1>Contatta uno dei nostri bibliotecari</h1>
            <p>Riceverai una risposta via email il primo possibile.</p>
        </div>

        <div class="card border border-success p-2 mb-2 border-opacity-25 ">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Inserisci la tua Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Scrivi la tua domanda</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-outline-success">Contattaci</button>
            </div>
        </div>

    </div>
    
    
</div>
