@{
    ViewData["Title"] = "Home Amministratore";
}
@if(true)
{
    <div style="margin-left: 30%">
        <div style="padding: 1%">
            <h3>
                Ciao Luca
            </h3>
        </div>
        <div>
            <a class="btn btn-outline-success b" asp-area="" asp-controller="Home" asp-action="Index"><span> Il mio profilo </span></a>
            <a class="btn btn-outline-success b" asp-area="" asp-controller="Home" asp-action="Index"><span>  I miei ordini  </span></a>
        </div>
        <div>
            <a class="btn btn-outline-success b" asp-area="" asp-controller="Home" asp-action="Index"><span>  Richiedi libro  </span></a>
            <a class="btn btn-outline-success b" asp-area="" asp-controller="Home" asp-action="Index"><span>  Contattaci  </span></a>
        </div>
    </div>
}
else
{ }

<style>
    .b {
        width: 25%;
        padding: 3%;
        margin: 1%;
        text-align: center;
        font-size: larger;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .b span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .b span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .b:hover span {
        padding-right: 25px;
    }
    .b:hover span:after {
        opacity: 1;
        right: 0;
    }
</style>