<div>
    <h1 style="text-align:center;">Aggiungi un nuovo libro !</h1><br />
    <form method="post">
        <div class="row">
        <div class="mb-3 col-5">
            <label for="Title" class="form-label ms-5">Title:</label>
            <input type="text" class="form-control ms-5" name="Title"  placeholder="Inserisci il titolo">
        </div>
            <div class="mb-3 col-5">
            <label for="Author" class="form-label ms-5">Author:</label>
            <input class="form-control ms-5" name="Author" rows="3" />
            </div>
        </div>
        <div class="row">
        <div class="mb-3 col-10">
            <label for="PublishingHouse" class="form-label ms-5">PublishingHouse:</label>
            <input class="form-control ms-5" name="PublishingHouse" rows="3" />

        </div>
        </div>
        <div class="row">
        <div class="mb-3 col-4">
            <label for="NumberOfCopy" class="form-label ms-5">NumberOfCopy:</label>
            <input class="form-control ms-5" name="NumberOfCopy" type="number" rows="3" />

        </div>
        <div class="mb-3 col-4">
                <label for="TypeOfBooks" class="form-label ms-5">TypeOfBooks:</label>
                <select class="form-select ms-5" name="TypeOfBooks">
            <option ></option>        
            <option value="Narrativa">Narrativa</option>
            <option value="Giallo">Gialli</option>
            <option value="Horror">Horror</option>
            <option>Avventura</option>
            <option>Rosa</option>
            </select>
        </div>
        </div>
        <div class="mb-3 col-11">
            <label for="Description" class="form-label ms-5">Description:</label>
            <textarea style="resize:none;" class="form-control ms-5" name="Description" rows="3"></textarea>

        </div>
        <div class="mb-3 col-11">
            <label for="ISBN" class="form-label ms-5">ISBN</label>
            <input class="form-control ms-5" name="ISBN" rows="3" />

        </div>
        <div class="mb-3 col-11">
            <label for="ImageUrL" class="form-label ms-5">ISBN</label>
            <input class="form-control ms-5" name="ImageUrl" rows="3" />

        </div>
        <button class="btn btn-success ms-5" type="submit">Aggiungi Libro</button>
    </form>
</div> 