@{
    ViewData["Title"] = "Inserimento utente";
    var ruolo = "Amministratore";
}
@if(ruolo == "Bibliotecario" || ruolo == "Amministratore"){
    <div class="text-center mx-auto bg-success p-2 text-dark bg-opacity-50 " style="width: 50%; height: 50%;">
        <div class="card text-center border border-success p-2 mb-2 border-opacity-25 ">
            <div class="card-header bg-success p-2 text-dark bg-opacity-25 ">
                <h2>Inserisci i dati per la registrazione di un nuovo utente</h2>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <span class="input-group-text" id="inputGroup-sizing-sm">Cognome</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Indirizzo di redisenza</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Codice Fiscale</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <span class="input-group-text" id="inputGroup-sizing-sm">Numero di Telefono</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com">
                <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Minorenne
                </label>
            </div>
            <div class="input-group input-group-sm mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Documento d'identità</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Scegli...</option>
                    <option value="1">Carta d'identità</option>
                    <option value="2">Passaporto</option>
                    <option value="3">Patente</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Emissionario</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Data di scadenza</span>
                    <input type="date" name="ExpirationDate">
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-outline-success">Registrati</button>
            </div>
        </div>
    </div>
}