@model IEnumerable<Book>

<div class="col-12 mb-3 mt-3">
    <h1 style="text-align:center;">Modifica Dati Libro</h1>
</div>

@foreach(var item in Model){
<form method="post">
    <div class="row">
        <div class="mb-3 col-5">
            <label for="Title" class="form-label ms-5">Title:</label>
            <input type="text" class="form-control ms-5" name="Title" value=@item.Title placeholder="Inserisci il titolo">
        </div>
        <div class="mb-3 col-6">
            <label for="Author" class="form-label ms-5">Author:</label>
                <input class="form-control ms-5" name="Author" value=@item.Author rows="3" />
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-10">
            <label for="PublishingHouse" class="form-label ms-5">PublishingHouse:</label>
                <input class="form-control ms-5" name="PublishingHouse" value=@item.PublishingHouse rows="3" />

        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-4">
            <label for="TypeOfBooks" class="form-label ms-5">TypeOfBooks:</label>
                <select class="form-select ms-5" name="TypeOfBooks">
                    <option value=@item.TypeOfBooks selected hidden>@item.TypeOfBooks</option>
                    <option value="narrativa">Narrativa</option>
                    <option value="giallo">Giallo</option>
                    <option value="horror">Horror</option>
                    <option value="avventura">Avventura</option>
                    <option value="rosa">Rosa</option>
            </select>
        </div>
    </div>
    <div class="mb-3 col-11">
        <label for="Description" class="form-label ms-5">Description:</label>
            <textarea style="resize:none;" class="form-control ms-5" name="Description" rows="3">@item.Description</textarea>

    </div>
    <div class="mb-3 col-11">
        <label for="ISBN" class="form-label ms-5">ISBN</label>
            <input class="form-control ms-5" value=@item.ISBN name="ISBN" rows="3" />

    </div>
    <button class="btn btn-success ms-5"  type="submit">Salva modifiche</button>
</form>
}