<div class="container text-center">
    <h1>
        Restituzione Libro
    </h1>
    <form method="post">
        <label class="form-label">Inserisci ISBN
            <input class="form-control" name="Isbn"/>
            <button class="btn btn-success" type="submit">Restituisci</button>
        </label>
    </form>
</div>


